<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Bread</li>
      <li>Sugar</li>
      <li>Crisps</li>
      <li>Flour</li>
    </ul>
  </body>
</html>